*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 540px;
}

img {
    cursor: pointer;
    display: block;
}

.selected {
    border: aqua 4px solid;
}

.container .selected {
    width: auto;
    height: 300px;
    margin: 0 auto;
    border: 4px aqua solid;
}

.container .imgContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0 0 0;
}

.container .imgContainer img{
    width: 100px;
    height: 100px;
    margin: 5px 0;
}